<!-- Begin MailChimp Signup Form -->
<style type="text/css">
  
  #mc-email {
    width: 300px;
  }
</style>
<div id="mc_embed_signup">
  <form id="mc-subscribe-form" name="mc-embedded-subscribe-form" action="<%= photo_session_pics_path %>" method="POST">
    <%= hidden_field_tag request_forgery_protection_token.to_s, form_authenticity_token %>
    <input type="email" value="" name="email" class="email" id="mc-email" placeholder="Email Address" required>
    <br/><br/>
    <div class="clear">
      <button id="mc-subscribe-button" class="btn btn-primary"> View my photos </button>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->