<div class="row">
  <h1>Editing event</h1>
  <div class='pull-right'>
    <%= link_to 'Show', @event, class: 'btn btn-default' %>  <%= link_to 'Back', events_path, class: 'btn btn-default' %>
  </div>
</div>

<div class="row">
    <%= render 'form' %>
</div>