<div class="row">
  <h1>New customer</h1>
  <div class='pull-right'>
    <%= link_to 'Back', customers_path, class: 'btn btn-default' %>
  </div>
</div>


<div class="row">
    <%= render 'form' %>
</div>


