<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    FestPix! Your images are ready, click the link to see them. 
    <%= link_to %> 
    <% @photo %>
  </body>
</html>