<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h2><%= "#{@photo_session.event.customer.name} -#{ @photo_session.event.name}" %></h2>

    <p>
      <%= @photo_session.event.sms_text %>
    </p>

    Your images are ready, click the link to retrieve them. 
    <%= link_to photo_session_short_url(@photo_session), photo_session_short_url(@photo_session) %> 
    
    <h2>Photos</h2>

    <% @photo_session.photos.each do |photo| %>
    <div>

      <%= link_to image_tag(photo.image.url(:square)), photo.image.url(:large), title: photo.image_file_name %>
      
    </div>
    <% end %>

  </body>
</html>
