
<div class="modal fade bs-example-modal-large" id="facebookModal" tabindex="-1" role="dialog" aria-labelledby="facebookModal" aria-hidden="true">
  <div class="modal-dialog modal-large">
    <div class="modal-content">

      <div class="col-md-12 well">

        <div class="row center">
          <div class="col-md-4">
            <a class="btn btn-default pull-left" data-dismiss="modal" href="#"><span aria-hidden="true">&times;</span></i> Close</a>
          </div>
          <div class="col-md-4">
            
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-primary pull-right" onclick="shareToFacebook('<%=  @photo.image.url(:xlarge) %>');">
              <i class="fa fa-facebook fa-fw"></i> Share
            </button>
          </div>
        </div>
        
        <textarea id="facebookPostText" class="form-control" rows="3" style="margin: 15px auto;" placeholder="Write something about your pic!" ><%= @photo.photo_session.event.facebook_text %></textarea>
        
        <div class="thumbnail color-two">
          <%= image_tag @photo.image.url(:xlarge), style: 'pointer-events:none;' %>  
        </div> 
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $('#facebookModal').modal({
  'show': true,
  'backdrop': false,
  })
</script>
