@font-face {
  font-family: 'agency_fbbold';
  src: url('/assets/agencyb-webfont.eot');
  src: url('/assets/agencyb-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/agencyb-webfont.woff') format('woff'),
       url('/assets/agencyb-webfont.ttf') format('truetype'),
       url('/assets/agencyb-webfont.svg#agency_fbbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.item {
  width: 300px;
  margin: 10px;
  float: left;
}

body{
  /*background: #111111;*/
  /*background: #1b1b24;*/
  color: #428bca;
}

.navbar-inverse .navbar-brand{
  font-family: 'agency_fbbold';
  font-size: 3em;
  color: #428bca;
}

.jumbotron{
  color: #000;
}